.header {
  padding-top: 10px;
  height: 64px;
}

.margin-border-10 {
  margin: 0 10px !important;
}

.divider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.nav-header{
  & span{
    //color: $textGray;
    padding: 0 5px;
  }
  & span.icons{
    vertical-align: middle;
  }

  & span.badge{
    background: #F7FAED;
    color: #8BA63A;
    vertical-align: text-top;
  }

}

span.circle{
  height: 40px;
  width: 40px;
  font-weight: bold;
  display: inline-block;
  background: #E6E6EB;
  //color: $textGray;
  border-radius: 50px;
  text-align: center;
  padding: 8px;
}

span.anchor {
  margin: 0 10px;
  cursor: pointer;
}

.topLogo {
  font-weight: Bold;
  font-size: 20px;
}

.loginButton{
  margin-top: 3px;
}

.confirmEmail{
  background: #3F88D1;
  color: #FFFFFF;
  text-align: center;

}
