@import "../node_modules/material-design-icons/iconfont/material-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: #edf2f7;
}